<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Notifications/Notifications_about_other_users/small notification 01/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,89}</string>
                <key>spriteSourceSize</key>
                <string>{128,89}</string>
                <key>textureRect</key>
                <string>{{1,2529},{128,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_other_users/small notification 02/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,89}</string>
                <key>spriteSourceSize</key>
                <string>{128,89}</string>
                <key>textureRect</key>
                <string>{{131,2529},{128,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/lose notification/all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Notifications/Notifications_about_user/lose notification/btns/1x/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{673,2227},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/lose notification/btns/1x/normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{261,2529},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/lose notification/btns/1x/press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{673,2292},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/places 02/all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/places/all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,1283},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Notifications/Notifications_about_user/places/btns/1x/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{673,2227},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/places/btns/1x/normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{261,2529},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/places/btns/1x/press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{673,2292},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/win notification/all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1445},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/win notification/btns/1x/hover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{945,2227},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/win notification/btns/1x/normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{673,2357},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notifications/Notifications_about_user/win notification/btns/1x/press_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{945,2292},{270,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/blue/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1180,2357},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/blue/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1049,2521},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/blue/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1216,2359},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/blue/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1049,2521},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/blue/ezgif.com-gif-maker (1).gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{849,2548},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/green/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{849,2584},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/green/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{885,2548},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/green/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{885,2584},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/green/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{885,2548},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/orange/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{921,2568},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/orange/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{957,2568},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/orange/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{993,2568},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/orange/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{957,2568},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/orange/orange.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1029,2568},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/purple/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1218,2424},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/purple/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1218,2460},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/purple/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1218,2496},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/purple/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1218,2460},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/purple/ezgif.com-gif-maker (1).gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1218,2532},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/red/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1065,2557},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/red/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1101,2560},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/red/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1137,2560},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/red/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1101,2560},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/red/ezgif.com-gif-maker (1).gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1173,2560},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/yellow/01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1209,2568},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/yellow/02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1245,2568},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/yellow/03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1281,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/yellow/04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1245,2568},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/animations/yellow/yellow.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1317,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/click/blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1353,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/click/green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1389,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/click/orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1425,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/click/purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1461,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/click/red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1497,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/click/yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1533,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/hover/blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1569,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/hover/green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1605,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/hover/orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1641,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/hover/purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1677,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/hover/red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1713,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/hover/yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1749,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/regular/blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1785,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/regular/green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1821,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/regular/orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1857,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/regular/purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1893,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/regular/red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1929,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Other UI elements/checkers/regular/yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1965,2565},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background-with-menu-chatbox.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/add-toro-coins/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,36}</string>
                <key>spriteSourceSize</key>
                <string>{181,36}</string>
                <key>textureRect</key>
                <string>{{673,2471},{181,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/add-toro-coins/normal-and-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,36}</string>
                <key>spriteSourceSize</key>
                <string>{181,36}</string>
                <key>textureRect</key>
                <string>{{673,2509},{181,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,670}</string>
                <key>spriteSourceSize</key>
                <string>{300,670}</string>
                <key>textureRect</key>
                <string>{{1,2227},{300,670}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,45}</string>
                <key>spriteSourceSize</key>
                <string>{233,45}</string>
                <key>textureRect</key>
                <string>{{945,2357},{233,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/logos/damas-chinas-es.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,47}</string>
                <key>spriteSourceSize</key>
                <string>{240,49}</string>
                <key>textureRect</key>
                <string>{{673,2422},{236,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/menu-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,58}</string>
                <key>spriteSourceSize</key>
                <string>{1280,58}</string>
                <key>textureRect</key>
                <string>{{1,2167},{1280,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/quit-game/Regular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{533,2568},{130,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/quit-game/click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{533,2529},{130,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/quit-game/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{1217,2227},{130,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/checkers/blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{31,27}</string>
                <key>textureRect</key>
                <string>{{1252,2359},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/checkers/green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{31,27}</string>
                <key>textureRect</key>
                <string>{{1252,2388},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/checkers/orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{1254,2417},{29,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/checkers/purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{31,27}</string>
                <key>textureRect</key>
                <string>{{911,2422},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/checkers/red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{31,27}</string>
                <key>textureRect</key>
                <string>{{1218,2395},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/checkers/yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{1254,2448},{29,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/layer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,154}</string>
                <key>spriteSourceSize</key>
                <string>{115,154}</string>
                <key>textureRect</key>
                <string>{{945,2404},{115,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-panel-layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,45}</string>
                <key>spriteSourceSize</key>
                <string>{113,45}</string>
                <key>textureRect</key>
                <string>{{665,2547},{113,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/user-turn/red-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{780,2547},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/user-turn/user-panel-time-layer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,154}</string>
                <key>spriteSourceSize</key>
                <string>{115,154}</string>
                <key>textureRect</key>
                <string>{{1101,2404},{115,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/user-turn/user-panel-time-layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,45}</string>
                <key>spriteSourceSize</key>
                <string>{113,45}</string>
                <key>textureRect</key>
                <string>{{934,2521},{113,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/user-turn/white-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{856,2471},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{2004,2619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ded55e6e9eb28e659cde6a3ed0a59f44:98a598c10cf6fedde41ff236b45a19dc:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
